* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  font-weight: normal;
}

body {
  background-color: #2a2a2a;
  color: whitesmoke;
  letter-spacing: 2px;
  transition: all 0.5s ease-in-out;
}

a {
  text-decoration: none;
  color: inherit;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 90px;
  padding: 15px 30px;
}

.ham {
  display: none;
}

h3 {
  position: relative;
  font-size: 40px;
}

h5 {
  margin: 20px 0;
}

ul {
  display: flex;
  list-style-type: none;
  gap: 50px;
}

ul > li,
ul > li > a {
  font-size: x-large;
  position: relative;
  font-weight: 700;
}

ul > li:hover,
ul > li > a:hover {
  color: #00ff00;
  scale: 1.05;
  transition: all 0.2s ease-in-out;
  font-weight: 700;
  cursor: pointer;
}

ul > li::after,
.red::after,
h3::after,
.red_full::after,
.year > p::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #00ff00;
  transition: transform 0.3s ease-out;
  transform-origin: bottom center;
}

ul > li:hover:after,
.red:hover::after,
h3:hover::after,
.red_full:hover::after,
.year > p:hover::after {
  transform: scaleX(1);
  transform-origin: bottom center;
}

h3::after {
  background-color: whitesmoke;
}

.text,
.text2 {
  display: flex;
  justify-content: left;
  gap: 7px;
  width: 50%;
}

.text2 {
  width: 100%;
}

.text1 {
  display: flex;
  gap: 7px;
}

.child2 > .text,
.text1 {
  margin: 5px 0;
}

.parent {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
  gap: 90px;
}

.red {
  color: #00ff00;
  position: relative;
}

.red:hover {
  font-weight: 700;
}

.child1 {
  margin: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.rotating_ring {
  position: relative;
  width: 450px;
  height: 500px;
  border-radius: 50%;
  overflow: hidden;
  /* animation: rotate 2s linear; */
  cursor: not-allowed;
  transition: all 0.3s ease-in-out;
}

.rotating_ring:hover {
  box-shadow: 0 0 30px #00ff00;
  border: 5px solid #00ff00;
  transform: scale(1.05);
}

/* @keyframes rotate {
  0% {
    transform: rotateY(360deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
} */

.color-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.images {
  display: flex;
  padding: 10px 20px;
  margin: 30px 0;
  margin-bottom: 50px;
  justify-content: space-around;
  align-items: center;
}

.images > .tooltip > a > img {
  padding: 5px;
  height: 40px;
  width: 40px;
  object-fit: contain;
  border: 4px solid;
  border-radius: 50%;
  filter: invert(67%) sepia(93%) saturate(6001%) hue-rotate(75deg)
    brightness(141%) contrast(131%);
  filter: drop-shadow(0 0 3px #00ff00);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.images > .tooltip > a > img:hover {
  transform: scale(1.05);
  background-color: #00ff00;
  filter: none;
  border-color: #000;
}

h4 {
  font-size: 35px;
}

h5 {
  font-size: 30px;
}

.About > p {
  margin: 10px 0;
  font-size: 17px;
  opacity: 0.8;
  color: whitesmoke;
}

button {
  width: 250px;
  height: 40px;
  border: 3px solid #00ff00;
  background-color: transparent;
  color: #00ff00;
  border-radius: 7px;
  /* margin: 15px 40px; */
  margin: 15px auto;
  cursor: pointer;
  z-index: 0;
  position: relative;
}

.red_full {
  color: #00ff00;
  position: relative;
  font-weight: 700;
}

.text3 {
  position: relative;
  color: whitesmoke;
  font-weight: 700;
}

/* Underline animation */
.text3::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: whitesmoke;
  transition: transform 0.3s ease-out;
  transform-origin: bottom center;
}

.text3:hover::after {
  transform: scaleX(1);
  transform-origin: bottom center;
}

/* button::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 5px;
}

button::before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 700%;
  z-index: -1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  filter: blur(8px);
  transition: opacity 0.3s ease-in-out;
  border-radius: 5px;
  opacity: 1;
  animation: glow 20s linear infinite;
}

@keyframes glow {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
} */

button:hover {
  scale: 1.05;
  box-shadow: 0 0 5px #00ff00;
  transition: all 0.3s ease-in-out;
}

button > p {
  position: relative;
  font-size: 25px;
  letter-spacing: 1px;
  font-weight: 1000;
}

.skill,
.contact,
.education,
.portfolio {
  text-align: center;
  margin-bottom: 30px;
}

.skill > .red,
.contact > .red,
.education > .red,
.portfolio > .red {
  display: inline-block;
  position: relative;
}

.skill_flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
}

.item {
  padding: 15px;
  border-radius: 5px;
  border: 3px solid #00ff00;
  box-shadow: 0 0 5px #00ff00;
  width: 150px;
  height: 150px;
}

.item:hover,
.card:hover,
.card1:hover {
  transform: scale(1.1);
  box-shadow: 0 0 25px #00ff00;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.card:hover,
.card1:hover {
  border: 3px solid #00ff00;
}

.item > img {
  width: 70px;
  height: 70px;
  display: block;
  margin: auto;
  object-fit: cover;
  border-radius: 5px;
  filter: invert(66%) sepia(92%) saturate(6000%) hue-rotate(75deg)
    brightness(140%) contrast(130%);
}

.item > h5 {
  font-size: larger;
  font-weight: 700;
  text-align: center;
}

.degree {
  border-left: 5px solid #000;
  width: 50%;
  display: block;
  margin: auto;
  padding: 0 15px;
}

.course,
.college,
.reason {
  font-weight: 600;
  padding: 15px;
  text-align: left;
  letter-spacing: 0.5px;
  font-size: large;
}

.college,
.reason {
  opacity: 0.7;
}

.reason > p {
  text-transform: capitalize;
}

.year {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 23px;
  margin-left: -40px;
  z-index: 10;
}

.year > p {
  letter-spacing: 0.5px;
  font-size: large;
  font-weight: 600;
  position: relative;
}

.year > p:hover {
  color: #00ff00;
}

.circle {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 3px solid #00ff00;
}

.portfolio {
  margin-bottom: 31px;
}

.card_parent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  width: 100%;
}

.card,
.card1 {
  width: 400px;
  height: auto;
  display: grid;
  border-radius: 15px;
  margin: auto;
  margin-top: 25px;
}

.card > .child1,
.card1 > .child1 {
  display: grid;
  gap: 30px;
  margin: 0;
  padding: 0 15px;
  padding-bottom: 15px;
  border: 3px solid #000;
  border-top: 0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  transition: all 0.3s ease-in-out;
}

.card:hover > .child1,
.card1:hover > .child1 {
  border: 0;
}

.card > .child1 > h5,
.card1 > .child1 > h5 {
  margin: 0;
  color: #fff;
  margin-top: 15px;
}

.card:hover > .child1 > h5,
.card1:hover > .child1 > h5 {
  color: #00ff00;
}

.card > .child1 > p,
.card1 > .child1 > p {
  font-size: 17px;
}

.card > img,
.card1 > img {
  width: 99.5%;
  height: 30vh;
  object-fit: fill;
  border: 3px solid #000;
  border-bottom: 0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  transition: all 0.3s ease-in-out;
}

/* .card:hover > img,
.card1:hover > img {
  width: 99.5%;
} */

.button,
.card1 > .child1 > .button {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 15px;
}

.card1 > .child1 > .button {
  width: 50%;
}

.css,
.html,
.js {
  text-align: center;
  padding: 0;
  width: 51px;
  height: 31px;
  transition: all 0.3s ease-in-out;
}

.About > p {
  text-transform: capitalize;
}

.contact_parent {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contact_child1 > h5 {
  text-align: left;
}

.contact_child1 > p {
  width: 50%;
  text-align: left;
}

@media (max-width: 320px) {
  nav {
    gap: 45px;
    padding: 10px 12px;
    flex-direction: row-reverse;
  }
  nav > ul,
  .About > p > br {
    display: none;
  }
  .ham {
    display: block;
  }
  .text {
    justify-content: space-between;
  }
  h3 {
    font-size: 25px;
  }
  h4,
  h5 {
    font-size: 19px;
  }
  .parent,
  .child1 {
    gap: 25px;
    flex-direction: column;
    padding: 0 10px;
    margin: 10px 0;
  }
  .rotating_ring {
    width: 200px;
    height: 210px;
  }
  .text1,
  .text2 {
    justify-content: center;
  }
  .About > p {
    text-align: center;
  }
  .images {
    overflow: hidden;
    padding: 8px 5px;
    margin: 10px auto;
  }
  .images > .tooltip > a > img {
    height: 27px;
    width: 27px;
  }
  button {
    width: 130px;
    height: 30px;
    display: block;
    margin: 20px auto;
  }
  button > p {
    font-size: 17px;
  }
  .skill_flex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 21px;
    justify-items: center;
    align-content: center;
    margin-bottom: 20px;
  }
  .item {
    width: 110px;
    height: 110px;
    padding: 10px;
  }
  .item > h5 {
    margin: 11px 9px;
    font-size: 13px;
  }
  .item > img {
    width: 55px;
    height: 55px;
  }
  .degree {
    width: 100%;
    padding: 0 21px;
    border-left: 0;
  }
  .year {
    gap: 8px;
    margin-left: 0;
    padding: 5px;
  }
  .card_parent {
    flex-direction: column;
    gap: 18px;
  }
  .card,
  .card1 {
    width: 80%;
  }
  .card > img,
  .card1 > img {
    height: 150px;
  }
  .button {
    gap: 15px;
    width: 50%;
    margin: auto;
  }
  .card1 > .child1 > .button {
    width: 80%;
    margin: auto;
  }
}

@media (min-width: 321px) and (max-width: 430px) {
  nav {
    gap: 45px;
    padding: 10px 12px;
    flex-direction: row-reverse;
  }
  nav > ul,
  .About > p > br {
    display: none;
  }
  .ham {
    display: block;
  }
  .text {
    justify-content: space-between;
  }
  h3 {
    font-size: 32px;
  }
  h4,
  h5 {
    font-size: 23px;
  }
  .parent,
  .child1 {
    gap: 38px;
    flex-direction: column;
    padding: 0 17px;
    margin: 0;
    margin-top: 11px;
  }
  .rotating_ring {
    width: 260px;
    height: 270px;
  }
  .text1,
  .text2 {
    justify-content: center;
  }
  .About > p {
    text-align: center;
  }
  .images {
    padding: 10px 7px;
    margin: 13px 0;
    overflow: hidden;
  }
  .images > .tooltip > a > img {
    height: 34px;
    width: 34px;
  }
  button {
    width: 175px;
    height: 35px;
    display: block;
    margin: 30px auto;
  }
  button > p {
    font-size: 17px;
  }
  .skill_flex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 21px;
    justify-items: center;
    align-content: center;
    margin-bottom: 20px;
  }
  .item {
    width: 110px;
    height: 110px;
    padding: 10px;
  }
  .item > h5 {
    margin: 11px 9px;
    font-size: 13px;
  }
  .item > img {
    width: 55px;
    height: 55px;
  }
  .degree {
    width: 94%;
    padding: 0 8px;
    border-left: 0;
  }
  .year {
    gap: 12px;
    margin-left: 0;
    padding: 8px;
  }
  .card_parent {
    flex-direction: column;
    gap: 24px;
  }
  .card,
  .card1 {
    width: 80%;
  }
  .card > img,
  .card1 > img {
    height: 35vh;
    object-fit: fill;
  }
  .button {
    margin: auto;
    width: 50%;
  }
  .html,
  .css,
  .js {
    font-size: 13px;
  }
  .card1 > .child1 > .button {
    width: 100%;
    margin: auto;
  }
}

@media (min-width: 431px) and (max-width: 840px) {
  nav {
    flex-direction: row-reverse;
    gap: 60px;
    padding: 12px 20px;
  }
  nav > ul,
  .About > p > br {
    display: none;
  }
  .ham {
    display: inline-block;
  }
  .text1,
  .text2 {
    justify-content: center;
  }
  .About > p {
    text-align: center;
  }
  h3 {
    font-size: 35px;
  }
  h4,
  h5 {
    font-size: 29px;
  }
  .parent,
  .child1 {
    gap: 55px;
    flex-direction: row;
    padding: 0 30px;
    margin: 0;
    margin-top: 19px;
    margin-bottom: 5px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .rotating_ring {
    width: 350px;
    height: 380px;
  }
  .images {
    overflow: hidden;
    margin: 21px 0;
  }
  .images > .tooltip > a > img {
    width: 39px;
    height: 39px;
  }
  button {
    width: 210px;
    height: 39px;
    display: block;
    margin: 20px auto;
  }
  button > p {
    font-size: 21px;
  }
  .skill > .red {
    margin: 30px 0;
  }
  .skill_flex {
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 25px;
  }
  .item {
    width: 130px;
    height: 130px;
    padding: 12px;
  }
  .item > img {
    width: 60px;
    height: 60px;
  }
  .degree {
    width: 80%;
    padding: 0 12px;
    border-left: 4px solid #000;
  }
  .year {
    margin-left: -36px;
  }
  .card_parent {
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .card,
  .card1 {
    width: 350px;
    min-width: 240px;
  }
  .card > img,
  .card1 > img {
    height: 175px;
  }
  .button {
    margin: auto;
  }
  .card1 > .child1 > .button {
    width: 100%;
    margin: auto;
  }
}
