* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 20px;
  text-align: center;
  font-weight: 700;
  font-size: large;
  text-transform: capitalize;
}

.logo {
  width: 100%;
  height: 60px;
  padding: 20px 0;
  /* border: 1px solid red; */
  background-color: rgb(156, 156, 249);
}

.navigation {
  height: 40px;
  width: 100%;
  margin: 5px 0;
  padding: 10px 0;
  background-color: chocolate;
}

.header {
  height: 120px;
  width: 100%;
  margin: 5px 0;
  padding: 40px 0;
  background-color: coral;
}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 15px 0;
}

.side_bar,
.body_area {
  padding: 150px 0;
  height: 340px;
  text-align: center;
  /* border: 1px solid; */
}

.side_bar {
  color: aliceblue;
  background-color: red;
  width: 25%;
}

.body_area {
  width: 75%;
  background-color: yellow;
}

footer {
  /* border: 1px solid; */
  height: 50px;
  padding: 15px 0;
  background-color: blueviolet;
  color: #fff;
}
