* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

body {
  background: black;
  color: #fff;
}

@media (max-width: 430px) {
  .profile_div {
    flex-direction: column;
    gap: 31px !important;
  }
  .profile_img {
    border-radius: 21px !important;
    width: 51% !important;
    position: unset !important;
    left: 0;
  }
  .text {
    position: unset !important;
    gap: 21px !important;
  }
}
